{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<video controls src="{{asset('videos/videointro.mp4')}}" id="video-intro"></video>
    
  <p class="text-center paraCenter">Plongez au cœur de la révolution numérique avec notre plateforme VOD TechAssistant<br>Explorez des formations informatiques et restez à la pointe de l'activité technologique<br>pour embrassez les nouvelles frontières du savoir</p>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Let's Go!</button>
        </div>

{% endblock %}
